#website {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.logo img {
	width: 240px;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

.banner {
	width: 100%;
	height: 500px;
	background-image: url("img/banerbg.jpg");
	background-size: cover;
	background-position: center;
}

.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

.banner-text h1 {
	font-size: 48px;
	font-weight: bold;
}

.banner-text p {
	font-size: 24px;
}
